@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

* {
    box-sizing: border-box;
    margin : 0;
    padding : 0;
}

a, button {
    font-family: "Montserrat, sans-serif";
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    margin-right: 5px;
}

header {
    display: flex;
    justify-content : space-between;
    align-items: center;
    padding: 30px 10%;
}